// Define variables for your color scheme

// Design specific colors
$blue: #556e8d; // #5d7b9f; // backup #2B1B0D ; // backup #0168c9 'Treat' | text and icons searchbar | circle search button | specialist names
$mediumblue: #4087DC ; // background searchbar

// $lightblue: #7DA3D1 ; // left- and topborder cards | righ-part search button
// $brown: #503921 ; // darkbrown for texts and details
// $lightbrown: #9E6F47 ; // navbar etc.

// $pink: #F9F6F3; // backup #DCCBBD // background cells treatment listing -> alternate with lightpink
// $lightpink: #EDE5DE; //backup #F9F6F3 // background cells treatment listing -> alternate with pink
// $gray: #2B1B0D; // backup #4A4A4A // use for all 'black' text on white background

$lightblue: #7FAEE7 ; // left- and topborder cards | righ-part search button
$brown: #000000 ; // brown for gradient, combine with opacity of 0.3 -- this is now gray
$pink: #F9F6F3 ; // backup #DCCBBD // background cells treatment listing -> alternate with lightpink
$lightpink: #EDE5DE ; //backup #F9F6F3 // background cells treatment listing -> alternate with pink
$gray: #000000 ; // backup #4A4A4A // use for all 'black' text on white background
$lightbrown:  #F4F4F4 ; // navbar etc. -- this is now lightgray

// Flash-alert colors
$red: #c91801 ;
$orange: #c97c01 ;
$green: #01c962 ;
$yellow: #c9ae01 ;

// Basic black and white
$black: #000000 ;
$white: #FFFFFF ;

$light-gray: #F4F4F4;

// Table

