// Define variables for your color scheme

// Design specific colors
$blue: #0168c9 ; // 'Treat' | text and icons searchbar | circle search button | specialist names
$mediumblue: #4087DC ; // background searchbar
$lightblue: #7DA3D1; // backup pinar #4ccaff;  left- and topborder cards | righ-part search button
$brown: #4d2b1d ; // brown for backgrounds and rustic details

$lightbrown: #E4A480 ; // rating-stars | lines between reviews
$pink: #E99B79; // backup pinar #c9a566; // navbar, logo
$mediumpink: #f5dbd0 ; // background cells treatment listing -> alternate with lightpink
$lightpink: #f5ece9 ; // background cells treatment listing -> alternate with pink
$gray: #4A4A4A ; // use for all 'black' text on white background

// Flash-alert colors
$red: #c91801 ;
$orange: #c97c01 ;
$green: #01c962 ;
$yellow: #c9ae01 ;

// Basic black and white
$black: #000000 ;
$white: #FFFFFF ;

$light-gray: #F4F4F4;
