<div class="specialist_card-container">
  <div class="text-center">
  <h1>Your selected specialist</h1>
  </div>
  <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= render 'card', specialist: @specialist %>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= render 'specialist_treatments_card', specialist: @specialist %>
      </div>
      <div class="col-xs-12">
        <div class="specialist_card_reviews">
          <div class="specialist_card-info">
            <div class="specialist-reviews-subbox">
              <p>Emma - no rating yet</p>
              <p>This specialist was the best I ever had!</p>
            </div>
        </div>
      </div>
  </div>
</div>


