<div class="footer" id="foot">
  <div class="footer-social">
    <!-- <a href="#"><i class="fa fa-github"></i></a> -->
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
  </div>
  <div class="footer-about">
    <ul class="list-unstyled">
      <li>
        <a href="#" style="font-weight: 400">Our Company</a>
      </li>
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Contact Us</a>
      </li>
      <li>
        <a href="#">Community</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">Careers</a>
      </li>
    </ul>
    </div>
    <div class="footer-about">
    <ul class="list-unstyled">
      <li>
        <a href="#" style="font-weight: 500">Resources</a>
      </li>
      <li>
        <a href="#">Affiliates</a>
      </li>
      <li>
        <a href="#">Starter Kit</a>
      </li>
      <li>
        <a href="#">Training</a>
      </li>
      <li>
        <a href="#">Products</a>
      </li>
      <li>
        <a href="#">News</a>
      </li>
      </div>
      <div class="footer-about">
      <ul class="list-unstyled">
      <li>

        <a href="#" style="font-weight: 400">Help</a>
      </li>
      <li>
        <a href="#">Documentation</a>
      </li>
      <li>
        <a href="#">Security</a>
      </li>
      <li>
        <a href="#">Privacy Policy</a>
      </li>
      <li>
        <a href="#">Terms of Service</a>
      </li>
      <li>
        <a href="#">Disclaimer</a>
      </li>
    </ul>
    </div>
  </div>
</div>
