  <select class="selectpicker fa raleway" data-width="120px" data-dropup-auto="false" name='subcategory[]' multiple title='&#xf153; Price'>
    <option data-icon="glyphicon-search" value="" disabled>Price</option>
  </select>


