  <select class="selectpicker fa raleway" data-width="65px" data-dropup-auto="false" name='subcategory[]' multiple title='&#xf041;'>
    <option data-icon="glyphicon-search" value="" disabled>Location</option>
  </select>
