  <select class="selectpicker fa raleway" data-width="160px" name='subcategory[]' multiple title='&#xf002; Treatments'>
    <option data-icon="glyphicon-search" value="" disabled>Treatments</option>
    <% Category.all.each do |category| %>
    <optgroup label="<%= category.name %>">
      <% category.subcategories.each do |subcategory| %>
      <option value="<%= subcategory.name %>" ><%= subcategory.name %></option>
      <% end %>
    </optgroup>
    <% end %>
  </select>

