<div class="col-xs-6 col-md-3 col-lg-3">
  <select class="selectpicker fa raleway" data-width="100px"name='subcategory[]' multiple title='&#xf274; Date'>
    <option data-icon="glyphicon-search" value="" disabled>Date</option>
  </select>
</div>
