  <select class="selectpicker fa raleway" data-width="150px" data-dropup-auto="false" name='subcategory[]' multiple title='&#xf041;  Location'>
    <option data-icon="glyphicon-search" value="" disabled>Location</option>
  </select>
