  <select class="selectpicker fa raleway" data-width="65px" data-dropup-auto="false" name='subcategory[]' multiple title='&#xf153;'>
    <option data-icon="glyphicon-search" value="" disabled>Price</option>
  </select>


