<div class="sidebar">
    <ul class="list-unstyled">
      <% Category.all.each do |category| %>
        <h5>
          <%= category.name %>
        </h5>
        <ul class="list-unstyled">
          <% category.subcategories.each do |subcategory| %>
            <li>
              <h6>
                <%= link_to subcategory.name, specialists_path(subcategory: [subcategory.id]) %>
              </h6>
            </li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  </div>
