/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  z-index: 1;
  position: absolute;
  top: 200px;
  width:100%;
  border: 0px;
  padding: 3px;
  margin: 0;
  text-align: center;
  color: white;
  font-family: Raleway;
  font-size: 20px;
  // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0px;
  opacity: 1;
  animation: fade 4s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  20%, 80% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  20%, 80% { opacity: 1; }
}

@keyframes fade {
  0%,100% { opacity: 0 }
  20%, 80% { opacity: 1 }
}


.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
