.gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-image: radial-gradient(rgba(201,74,1,0.1), rgba(201,74,1,0.2), rgba(43, 27, 13, 0.6));
}
