/* Main navbar */
.navbar-hometreat {
  position: absolute;
  top: 0;
  color: $blue;
  z-index: 3;
  height: 100px;
  background: $white;
  transition: all 0.3s ease;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(255,255,255,0.0);
}

// #nav {
//   // background-image: url("ht_navbar_wood.jpg");
// }

// .navbar-hometreat-opacity {
//   background-color: rgba(255,255,255,0.0);
// }

/* Logo */
.navbar-hometreat-brand img {
  height: 50px;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.8);
  transition: all .2s ease-in-out;
}

/* Logo hover */
.navbar-hometreat-brand img:hover {
  height: 50px;
  transform: scale(1.1);
}

/* User Avatar */
.navbar-hometreat .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  transition: all .2s ease-in-out;
}

.navbar-hometreat .avatar:hover {
 height: 50px;
 transform: scale(1.1);
}


/* Right section */
.navbar-hometreat-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-hometreat-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-hometreat-login {
  position: absolute;
  top:20px;
  right:1px;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.8);
  font-family: Fontawesome !important;
  color: $white;
  font-size: 40px;
  transition: all 0.2s ease-in-out;
}
.navbar-hometreat-login:hover {
  color: $lightblue;
  font-size: 41px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.6);
  transform: scale(1.1);
}

/* DROP-DOWN MENU */

// TO DO!!!

.navbar-hometreat-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 3px 6px rgba(0,0,0,0.6);
  border-color: $blue;
  background: $blue;
}
.navbar-hometreat-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: 200 !important;
  color: $white !important;
  font-size: 16px !important;
  line-height: 22px !important;
  padding: 10px 20px;
  background: $blue !important;
}
.navbar-hometreat-dropdown-menu li > a:hover {
  background: $mediumblue !important;
  color: $white !important;
}
// .navbar-hometreat-dropdown-menu:before {
//   content: ' ';
//   height: 10px;
//   width: 10px;
//   position: absolute;
//   right: 10px;
//   top: -6px;
//   background-color: $blue;
//   transform: rotate(45deg);
//   border-color: $gray;
//   border-left: 1px solid #E6E6E6;
//   border-top: 1px solid #E6E6E6;
// }
