/* ---------->>> GLOBAL SEARCH BAR <<<-----------*/

.searchbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 100px;
  z-index: 2;
  background: $pink;

// GRADIENT FOR BACKGROUND COLOR SEARCH BAR
// background: rgb(64,135,220); /* Old browsers */
// background: -moz-linear-gradient(left, rgba(64,135,220,1) 0%, rgba(64,135,220,1) 0%, rgba(64,135,220,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(64,135,220,1) 100%, rgba(64,135,220,1) 100%, rgba(64,135,220,1) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(left, rgba(64,135,220,1) 0%,rgba(64,135,220,1) 0%,rgba(64,135,220,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(64,135,220,1) 100%,rgba(64,135,220,1) 100%,rgba(64,135,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to right, rgba(64,135,220,1) 0%,rgba(64,135,220,1) 0%,rgba(64,135,220,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(64,135,220,1) 100%,rgba(64,135,220,1) 100%,rgba(64,135,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4087dc', endColorstr='#4087dc',GradientType=1 ); /* IE6-9 */

  color: $white;
  transition: all 0.3s ease;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  font-family: raleway;
}


/* ---------->>> GLOBAL SEARCH FIELDS <<<-----------*/


.input-wrapper {
  z-index: 2;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

// .field-wrapper {
//   z-index: 5;
//   display: flex;
//   justify-content: center;
// }

// BOOTSTRAP OVERRIDES FOR SEARCH FIELDS

.bootstrap-select .btn {
  margin-top:2px;
  margin-bottom:2px;
  background-color: $white;
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  font-size: 26px;
  font-weight:500;
}

.input-group.first {
  z-index: 1000;
}

button, input, optgroup, select, textarea {
  font-family: philosopher, fontawesome;
  // font-weight: bold;
}

.bootstrap-select {
  margin: 60px;
  // margin-right: 60px;
}

.bootstrap-select-special .bootstrap-select{
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.dropdown-header {
  font-family: philosopher;
  font-size: 26px;
  font-weight:500;
  color: $brown;
}
.dropdown-menu > li > a {
  font-family: raleway, fontawesome;
  font-size: 20px;
  color: $gray;
}

.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background-color: $lightblue;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
  color: $brown !important;
  outline: 0px !important;
  // text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.bootstrap-select>.dropdown-toggle.bs-placeholder {
 background: $white;
 transition: all 0.2s ease-in-out;
 font-weight: 400;
 z-index:5;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus  {
background: $mediumpink;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
background: $lightpink;
}

.glyphicon-ok:before {
  content: "\e013";
  color: $brown;
}

.dropdown-menu > li > a {
  color: $gray;
  background-color: $white;
  transition: all 0.2s ease-in-out;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: $white;
  text-decoration: none;
  background-color: $lightblue;
  outline: 0px !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  text-align: center !important;
}
