/* ---------->>> GLOBAL TEXT DECO <<<-----------*/

a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

/* ---------->>> TEXT CENTER <<<-----------*/
.text-center {
  text-align: center;
  h1 {
  font-size: 20px;
  }
}

body {
  font-family: 'Poppins';
  font-weight: lighter;
 color: $brown;
}

p {
  text-align: center;
  color: $brown;
}

/* ---------->>> TEXT HOME PAGE <<<-----------*/

// HomeTreat
#hometreat_header {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 75px;
  font-weight: medium;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

// Get your treatment. Anytime. Anywhere.
#hometreat_usp {
  font-family: 'Open Sans', sans-serif;
  color: $white;
  text-align: center;
  font-size: 35px;
  font-weight: medium;
  opacity: 1;
  margin-bottom: 30px;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* ---------->>> TEXT SPECIALISTS INDEX <<<-----------*/

#specialist_category {
  color: gray;
  font-family: Raleway;
  font-size: 16px;
}

#create_appointment {
  h1 {
    color: gray;
    font-family: Raleway;
    font-size: 12px;
  }
}





