/* ---------->>> GLOBAL TEXT DECO <<<-----------*/

a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}

/* ---------->>> TEXT CENTER <<<-----------*/
.text-center {
  text-align: center;
  h1 {
  font-size: 20px;
  }
}

body {
 font-family: Raleway !important;
}

p {
  text-align: center;
}

/* ---------->>> TEXT HOME PAGE <<<-----------*/

// HomeTreat
#hometreat_header {
  font-family: raleway;
  text-align: center;
  font-size: 54px;
  font-weight: bold;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.8);
  z-index: 2;
}

// Get your treatment. Anytime. Anywhere.
#hometreat_usp {
  font-family: raleway;
  color: $white;
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
  margin-bottom: 30px;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.8);
  z-index: 2;
}

/* ---------->>> TEXT SPECIALISTS INDEX <<<-----------*/

#specialist_category {
  color: gray;
  font-family: Raleway;
  font-size: 16px;
}






