/* ---------->>> TEXT HOME PAGE <<<-----------*/

// HomeTreat
h1 #hometreat_header {
  color: red;
  text-align: center;
}

// Get your treatment. Anytime. Anywhere.
p #hometreat_usp {
  color: white;
  text-align: center;
}


/* ---------->>> TEXT SPECIALISTS INDEX <<<-----------*/


#specialist_category {
  color: gray;
  font-family: Raleway;
  font-size: 16px;
}






