 <%= render 'shared/searchbar' %>

<div class="breadcrumbs">
 <%= link_to 'specialists', specialists_path  %> > <%= link_to @specialist.user.full_name, specialist_path(@specialist) %> > new
</div>
<div class="specialist_card-container-index">
  <%= render 'shared/sidebar' %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">

        </div>
      </div>
    </div>
  </div>
</div>
